<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        .row{
            margin-bottom: 20px;
        }
        span{
            color: red;
        }
    </style>
</head>
<body>
<center>

</center>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form th:object="${city}" th:action="@{/city/update}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <span>Chỉnh Sửa Thành Phố</span>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <input type="hidden" class="form-control" id="cityID" th:field="*{id}">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Tên</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cityName" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Quốc Gia</label>
                </div>
                <div class="col-md-9">
                    <select th:field="*{country}">
                        <option th:each="c : ${country}" th:value="${c.id}" th:selected="*{country}!=null ? (${c.id} == *{country.id}) : false"
                                th:text="${c.name}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Diện Tích</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cityArea" th:field="*{area}">
                    <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Dân Số</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cityPopulation" th:field="*{population}">
                    <span th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>GDP</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cityGDP" th:field="*{GDP}">
                    <span th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Giới Thiệu</label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" id="cityDescription" th:field="*{description}"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">Cập Nhật</button>
                    <a th:href="@{/city/list}">
                        <button type="button" class="btn btn-success">Thoát</button>
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
</body>
</html>